/* /Layout/MainLayout.razor.rz.scp.css */
/* Del av lösning till uppgift 1.2 i kurs DT191G, skapad av Cecilia Edvardsson */

/* Allmänt */

main[b-7q75q2i3xw] {
  font-family: Arial, Helvetica, sans-serif;
}

/* Header */

header[b-7q75q2i3xw] {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  box-shadow: 2px 2px 1px rgb(184, 181, 181);
}

img[b-7q75q2i3xw] {
  width: 150px;
  margin-left: 20px;
}

/* Menyn */

.sidebar[b-7q75q2i3xw] {
  width: 25%;
  margin: 40px auto 0;
}

.sidebar ul[b-7q75q2i3xw] {
  width: 80%;
  margin: 40px auto 0;
  padding: 0;
}

.sidebar ul li[b-7q75q2i3xw] {
  list-style-type: none;
  background-color: rgb(254, 240, 186);
  box-shadow: 2px 2px 1px rgb(202, 201, 201);
  margin: 20px auto;
  padding: 10px;
  width: 100%;
  max-width: 200px;
  text-align: center;
  font-weight: 600;
  color: black;
}

.sidebar ul li a[b-7q75q2i3xw] {
  font-weight: 600;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

.sidebar ul li:hover[b-7q75q2i3xw] {
  text-decoration: underline;
}

/* Huvudinnehåll */

.wrapper[b-7q75q2i3xw] {
  display: flex;
  margin-bottom: 70px;
}

.content[b-7q75q2i3xw] {
  width: 75%;
  max-width: 1000px;
  margin: 40px 30px 0;
  padding: 30px 0 200px 60px;
}

footer[b-7q75q2i3xw] {
  text-align: center;
  margin: 40px auto;
  width: 80%;
}

/* Mellanstor skärmupplösning */

@media screen and (max-width: 1000px) {
  .wrapper[b-7q75q2i3xw] {
    display: block;
  }

  .sidebar[b-7q75q2i3xw] {
    width: 100%;
  }

  .sidebar ul[b-7q75q2i3xw] {
    width: 80%;
    margin: 40px auto 0;
    padding: 0;
    display: flex;
  }

  .sidebar ul li[b-7q75q2i3xw] {
    background-color: rgb(254, 240, 186);
    box-shadow: 2px 2px 1px rgb(202, 201, 201);
    margin: 20px auto;
    padding: 5px 10px;
    width: 60%;
    max-width: 150px;
  }

  .content[b-7q75q2i3xw] {
    width: 100%;
    max-width: 700px;
    margin: 50px auto 70px;
  }
}

/* Stor skärmupplösning */

@media screen and (min-width: 1500px) {
  .sidebar[b-7q75q2i3xw] {
    width: 10%;
    margin: 0;
  }

  .wrapper[b-7q75q2i3xw] {
    width: 100%;
  }

  .content[b-7q75q2i3xw] {
    width: 90%;
    margin-left: 50px;
  }
}

/* Liten skärmupplösning */

@media screen and (max-width: 650px) {
  .sidebar ul[b-7q75q2i3xw] {
    width: 80%;
    margin: 40px auto 0;
    padding: 0;
    display: block;
  }

  .sidebar ul li[b-7q75q2i3xw] {
    background-color: rgb(254, 240, 186);
    box-shadow: 2px 2px 1px rgb(202, 201, 201);
    margin: 20px auto;
    padding: 5px 10px;
    width: 60%;
    max-width: 300px;
  }

  .content[b-7q75q2i3xw] {
    margin: auto;
    padding: 0;
  }
}
